.accordion-button {
    background-color: rgb(235, 222, 233) !important;
    border: "none";
    padding:"20px"
    
  }
  
  
  .accordion-button:focus {
    box-shadow: none;
  }
  
  .accordion-button:not(.collapsed) {
    color: #212529;
  }
  .accordion-header {
    background-color: rgb(221, 186, 227) !important;
    border: "none";
    padding:"20px"
  } 
  