.App {
  text-align: center;
}

.gradient-custom {
  background: 
  /* radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%), */
    linear-gradient(121.28deg, #d5d6d4 0%, #7f7e7e 100%);
    /* linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
    radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
    radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%); */
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
}
.carousel-indicators {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
	background-color: #000;
	background-repeat: no-repeat;
	overflow-x: hidden;
}

.card {
    position: relative;
    border: solid 1px #212121;
    padding: 45px 50px 25px 60px;
    margin-top: 20px;
    background-color: #212121;
    border-radius: 10px;
    color: #fff;
}

.post-txt {
    font-size: 20px;
    margin-bottom: 0;
}

.quote-img {
    position: absolute;
    top: 32px;
    left: 25px;
    width: 30px;
    height: 30px;
}

.nice-img {
    width: 20px;
    height: 50px;
    margin-bottom: 7px;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 20px solid #212121;
  margin-left: 85px;
}

.fit-image{
    width: 100%;
    object-fit: cover;
}

.profile-pic {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    left: 65px;
    margin-top: 15px;
}

.profile-name {
    position: absolute;
    font-size: 22px;
    margin-top: 60px;
    left: 210px;
    color: #616161;
}


